.header, .content, .footer {
  display: block;
  width: 100%;
  overflow: auto;
  white-space: pre-wrap;
}

.header {
  height: 20%;
}

.content {
  height: 70%;
}

.footer {
  height: 10%;
}

#configContainer:before {
  content: ' ';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}