html {
  background: rgb(0,0,0);
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: Arial;
}

#prev:before, #next:before,
#config:before, #toggleCar:before {
  content: ' ';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}

#slideContainer {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#prev, #next {
  position: absolute;
  display: block;
  color: rgb(255,255,255);
  background: rgba(255,255,255,0.1);
  height: 100%;
  width: 5%;
  top: 0;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  cursor: pointer;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

#prev:hover,
#next:hover {
  opacity: 1;
}

#control {
  position: absolute;
  display: block;
  height: 30%;
  width: 100%;
  bottom: -27%;
  left: 0;
  background-color: rgba(150,150,150,.5);
  opacity: 0;
}

#control:hover {
  opacity: 1;
}

#config, #toggleCar {
  display: inline-block;
  height: 10%;
  color: rgb(255,255,255);
  cursor: pointer;
  margin: 0;
  padding: 0 1%;
  vertical-align: middle;
}

#carousel {
  display: block;
  height: 90%;
  width: 100%;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

.slideCarouselHolder {
  display: inline-block;
  position: relative;
  top: 5%;
  height: 90%;
  margin: 0 1%;
}

.slideCarousel {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: left top;
  -webkit-transform-origin: left top;
}

.slideMainHolder {
  display: block;
  position: absolute;
  top: 0;
}

.slideMain {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left top;
  -webkit-transform: left top;
}